{% extends 'base.html.twig' %}

{% block title %}Identifiez-vous !{% endblock %}

{% block Admin %}
<div class="flex justify-center">
    <div class="decoration-clone bg-gray-200 my-80 p-10 rounded-xl border-2">
            <div class="flex flex-col text-center items-center justify-center">
                <form method="post" class="box-content p-4 max-w-lg">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connectez en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% endif %}
                    <h2 class="text-center text-5xl font-semibold text-gray-700 my-5">Identifiez-vous</h2>
                    <label for="inputUsername" class="text-center text-5xl font-semibold text-gray-700 my-5"></label>
                    <input type="text" placeholder="Identifiant" value="{{ last_username }}" name="username" id="inputUsername" class="form-control shadow appearance-none h-15 w-32 p-4 w-full placeholder-gray-400 text-4xl text-center focus:outline-none border-b-2 border-yellow-500 m-3" autocomplete="username" required autofocus>
                    <label for="inputPassword" class="text-center text-5xl font-semibold text-gray-700 my-5"></label>
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control shadow appearance-none h-15 w-32 p-4 w-full placeholder-gray-400 text-4xl text-center focus:outline-none border-b-2 border-yellow-500 m-3" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <input type ="submit" value="Valider" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white text-4xl font-bold py-6 px-9 rounded-full focus:outline-none focus:shadow-outline" type="button">
                </form>
            </div>
    </div>
</div>
{% endblock %}
