{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('services') }}
{% endblock %}

{% block pageContainer %}

    <div class="client-service-page">
        {% if is_granted('ROLE_ADMIN') %}
                <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
        {% endif %}
        <h1>Nos services</h1>
        <div class="services-list">
            {% for service in services %}
                {% if service.category == 'AMO' %}
                    <div class="service-block">
                        <p class="handwriting-category color-amo">{{ service.category }}</p>
                        <p>{{ service.name }}</p>
                        <a href="{{ path('services_show', {id: service.id}) }}" class="bubble-service amo">
                            <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}">
                        </a>
                    </div>
                {% endif %}
                {% if service.category == 'MOE' %}
                    <div class="service-block">
                        <p class="handwriting-category color-moe">{{ service.category }}</p>
                        <p>{{ service.name }}</p>
                        <a href="{{ path('services_show', {id: service.id}) }}" class="bubble-service moe">
                            <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}">
                        </a>
                    </div>
                {% endif %}
                {% if service.category == 'Conseil' %}
                    <div class="service-block">
                        <p class="handwriting-category color-conseil">{{ service.category }}</p>
                        <p>{{ service.name }}</p>
                        <a href="{{ path('services_show', {id: service.id}) }}" class="bubble-service conseil">
                            <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}