{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('services') }}
{% endblock %}

{% block pageContainer %}

    <div class="service-show-page">
        {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
        {% endif %}
        <div class="service-title-image">
                <h1>{{ service.name }}</h1>
                {% if service.category == 'AMO' %}
                    <div class="image amo">
                        <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}" width="150px">
                    </div>
                {% endif %}
                {% if service.category == 'MOE' %}
                    <div class="image moe">
                        <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}" width="150px">
                    </div>
                {% endif %}
                {% if service.category == 'Conseil' %}
                    <div class="image conseil">
                        <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}" width="150px">
                    </div>
                {% endif %}
        </div>
        <div class="service-description">
            <h3>Description</h3>
            <p>
                {{ service.description }}
            </p>
            {% if service.professionnal != null %}
                <h3>Professionnel(s) :</h3>
                <div class="service-description-pro-link">
                {% for pro in service.professionnal %}
                    <a id="reference-professionnal-links" href="{{ path('professionnal_show', {id: pro.id}) }}">{{ pro.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}