{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'admin_editproject' %}
        <h2>Images</h2>
        <h3>Image Principal</h3>
        <img src="{{ asset('/uploads/images/' ~ project.mainPhoto) }}" alt="{{ project.mainPhoto }}" width="150px">
        <h3>Images Secondaires</h3>
        {% for image in project.images %}
            <div>
                <img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="{{ image.name }}" width="150px">
            </div>
            <a href="{{ path('admin_project_delete_image', {id: image.id}) }}" data-delete date-token="{{ csrf_token('delete' ~ image.id) }}">Delete</a>
        {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
