{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block pageContainer %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>EntryDate</th>
                <th>Note</th>
                <th>Place</th>
                <th>Client</th>
                <th>MissionIngescop</th>
                <th>Budget</th>
                <th>Calendar</th>
                <th>WorkInProgress</th>
                <th>Resume</th>
                <th>PhotoOne</th>
                <th>StrongPoints</th>
                <th>PhotoTwo</th>
                <th>PhotoThree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.entryDate ? project.entryDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.note }}</td>
                <td>{{ project.place }}</td>
                <td>{{ project.client }}</td>
                <td>{{ project.missionIngescop }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.calendar }}</td>
                <td>{{ project.workInProgress }}</td>
                <td>{{ project.resume }}</td>
                <td>{{ project.photoOne }}</td>
                <td>{{ project.strongPoints }}</td>
                <td>{{ project.photoTwo }}</td>
                <td>{{ project.photoThree }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('admin_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_new') }}">Create new</a>
{% endblock %}
