{% extends 'base.html.twig' %}

{% block title %}Panneau de configuration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block pageContainer %}
    {% block flashMessage %}
        {% for message in app.flashes('notice') %}
            <div class="border-2 bg-green-200 text-2xl py-4 px-16 h-16 absolute">
                <p> &#10004; {{ message }} </p>
            </div>
        {% endfor %}
        {% for message in app.flashes('Valid') %}
            <div class="border-2 bg-green-200 text-2xl py-4 px-16 h-16 absolute">
                <p> &#10004; {{ message }} </p>
            </div>
        {% endfor %}
    {% endblock %}
    <h1>PANNEAU DE CONFIGURATION</h1>
    <div class="flex justify-center">
    <a id="change-password" href="{{ path('reset-password') }}"> Changer de mot de passe</a>
    </div>
    <div class="flex flex-col w-6/12 m-auto panel-config-table-block">
        <h1>Liste des services</h1>
        <div  class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 rounded-xl">
            <div class="py-12 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div id="panel-config-table" class="overflow-hidden sm:rounded-lg">
                    <table id="panel-config-services-table" class="min-w-full">
                        <thead class="font-semibold text-gray-700 bg-gray-50">
                            <tr>
                                <th scope="col" class="text-left">Nom</th>
                                <th scope="col" class="text-left">Catégorie</th>
                                <th scope="col" class="text-left">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                        {% for service in services %}
                            <tr>
                                <td>{{ service.name }}</td>
                                <td>{{ service.category }}</td>
                                <td>
                                    <a href="{{ path("admin_editservice", {"id": service.id}) }}"><img src="{{ asset('build/images/crayon.png') }}"></a>
                                    <a href="{{ path("services_show", {"id": service.id}) }}"><img src="{{ asset('build/images/oeil.png') }}"></a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="16">Pas d'enregistrements trouvés</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex flex-col text-right">
        <a class="panel-config-button" href="{{ path("admin_newservice") }}"><input type ="submit" value="Créer un service" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white rounded-full focus:outline-none focus:shadow-outline"></a>
        </div>
    </div>
    <div class="flex flex-col w-6/12 m-auto panel-config-table-block">
        <h1>Liste des professionnels</h1>
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 rounded-xl">
            <div class="py-12 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div id="panel-config-table" class="overflow-hidden sm:rounded-lg">
                    <table id="panel-config-pro-table" class="min-w-full">
                        <thead class="font-semibold text-gray-700 bg-gray-50">
                            <tr>
                                <th scope="col" class="text-left">Nom</th>
                                <th scope="col" class="text-left">Métier</th>
                                <th scope="col" class="text-left">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">

                            {% for professionnal in pro %}
                            <tr>
                                <td>{{ professionnal.name }}</td>
                                <td>{{ professionnal.job }}</td>
                                <td>
                                    <a href="{{ path("admin_editpro", {"id": professionnal.id}) }}"><img src="{{ asset('build/images/crayon.png') }}"></a>
                                    <a href="{{ path("professionnal_show", {"id": professionnal.id}) }}"><img src="{{ asset('build/images/oeil.png') }}"></a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="16">Pas d'enregistrements trouvés</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex flex-col text-right">
        <a class="panel-config-button" href="{{ path("admin_newpro") }}"><input type ="submit" value="Créer un professionnel" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white rounded-full focus:outline-none focus:shadow-outline"></a>
        </div>
    </div>
    <div class="flex flex-col w-6/12 m-auto panel-config-table-block">
        <h1>Liste des références</h1>
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 rounded-xl">
            <div class="py-12 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div id="panel-config-table" class="overflow-hidden border-b sm:rounded-lg">
                    <table id="panel-config-projects-table" class="min-w-full">
                        <thead class="font-semibold text-gray-700 bg-gray-50">
                            <tr>
                                <th scope="col" class="text-left">Nom</th>
                                <th scope="col" class="text-left">Note</th>
                                <th scope="col" class="text-left">Lieu</th>
                                <th scope="col" class="text-left">Date de saisie</th>
                                <th scope="col" class="text-left">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.note }}</td>
                                <td>{{ project.place }}</td>
                                <td>{{ project.entryDate ? project.entryDate|date('Y-m-d') : '' }}</td>
                                <td>
                                    <a href="{{ path('admin_editproject', {'id': project.id}) }}"><img src="{{ asset('build/images/crayon.png') }}"></a>
                                    <a href="{{ path('reference_show', {id: project.id}) }}"><img src="{{ asset('build/images/oeil.png') }}"></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="16">Pas d'enregistrements trouvés</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex flex-col text-right">
        <a class="panel-config-button" href="{{ path('admin_newproject') }}"><input type ="submit" value="Créer un nouveau projet" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white rounded-full focus:outline-none focus:shadow-outline"></a>
        </div>
    </div>
    <div class="flex flex-col w-6/12 m-auto panel-config-table-block">
        <h1>Listes des partenaires</h1>
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 rounded-xl">
            <div class="py-12 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div id="panel-config-table" class="overflow-hidden sm:rounded-lg">
                    <table id="panel-config-partners-table" class="min-w-full">
                        <thead class="font-semibold text-gray-700 bg-gray-50">
                            <tr>
                                <th scope="col" class="text-left">Nom</th>
                                <th scope="col" class="text-left">Logo</th>
                                <th scope="col" class="text-left">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                        {% for partner in partners %}
                            <tr>
                                <td>{{ partner.name }}</td>
                                <td>{{ partner.logo }}</td>
                                <td>
                                    <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}"><img src="{{ asset('build/images/crayon.png') }}"></a>
                                    <a href="{{ path('home') }}"><img src="{{ asset('build/images/oeil.png') }}"></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">pas d'enregistrements trouvés</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex flex-col text-right">
        <a class="panel-config-button" href="{{ path('admin_partner_new') }}"><input type ="submit" value="Créer un nouveau partenaire" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white rounded-full focus:outline-none focus:shadow-outline"></a>
        </div>
    </div>
{% endblock %}
