{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block pageContainer %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>EntryDate</th>
                <td>{{ project.entryDate ? project.entryDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ project.note }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ project.place }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ project.client }}</td>
            </tr>
            <tr>
                <th>Mission Ingescop</th>
                <td>{{ project.missionIngescop }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ project.budget }}</td>
            </tr>
            <tr>
                <th>Calendrier</th>
                <td>{{ project.calendar }}</td>
            </tr>
            <tr>
                <th>État du projet</th>
                <td>{{ project.workInProgress }}</td>
            </tr>
            <tr>
                <th>En bref</th>
                <td>{{ project.resume }}</td>
            </tr>
            <tr>
                <th>Points forts</th>
                <td>{{ project.strongPoints }}</td>
            </tr>
            <tr>
                <th>Photo principale</th>
                <td>{{ project.photoOne }}</td>
            </tr>
            <tr>
                <th>Photo secondaire</th>
                <td>{{ project.photoTwo }}</td>
            </tr>
            <tr>
                <th>Photo secondaire</th>
                <td>{{ project.photoThree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_panelconfig') }}">Revenir à la liste des projets</a>

    <a href="{{ path('admin_editproject', {'id': project.id}) }}">Éditer</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
