{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block pageContainer %}
    {% if app.user %}
        <a id="panelcongig-link" href="{{ path('admin_panelconfig') }}"><strong>&larr;</strong> Retour au panel de configuration</a>
    {% endif %}
    <div class="flex justify-center">
    {% for message in app.flashes('Success') %}
        <div class="border-2 bg-green-200 text-xl py-2 max-w-3xl">
            <p> &#10004; {{ message }} </p>
        {% endfor %}
        </div>
    </div>
    {{ form_start(form) }}
    <div>
        {{ form_widget(form.lastName, {'attr': {'class': 'border-b-2 border-yellow-500 focus:outline-none'}}) }}
    </div>
    <div>
        {{ form_widget(form.firstName, {'attr': {'class': 'border-b-2 border-yellow-500 focus:outline-none'}}) }}
    </div>
    <div>
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'border-b-2 border-yellow-500 focus:outline-none'}}) }}
    </div>
    <div>
        {{ form_widget(form.emailAddress, {'attr': {'class': 'border-b-2 border-yellow-500 focus:outline-none'}}) }}
    </div>
    <div>
        {{ form_widget(form.message, {'attr': {'class': 'border-b-2 border-yellow-500 focus:outline-none'}}) }}
    </div>
        <input type ="submit" value="Envoyer" class ="rounded-full transition delay-150 text-white px-8 bg-gray-600 hover:bg-white hover:text-yellow-500 hover:border-2 border-yellow-500">
    {{ form_end(form) }}
    {% for message in app.flashes('Success') %}
    <div class="border-2 bg-green-200 text-xl py-2 max-w-md">
                <p> &#10004; {{ message }} </p>
        {% endfor %}
    </div>

{% endblock %}
