{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block pageContainer %}
    {% if is_granted('ROLE_ADMIN') %}
        <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong><=</strong> Retour au panneau de configuration</a>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type ="submit" value="Envoyer">
    {{ form_end(form) }}
    {% for message in app.flashes('Success') %}
                {{ message }}
        {% endfor %}

{% endblock %}
