{% extends 'base.html.twig' %}

{% block title %}Références{% endblock %}

{% block pageContainer %}
    <div class="references-list-block">
        {% if is_granted('ROLE_ADMIN') %}
                    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong>Retour au panneau de configuration</a>
        {% endif %}
        <h1>Nos references</h1>
        {% for reference in references %}
            {% if reference.workInProgress == 'En études' %}
                <a href="{{ path('reference_show', {id: reference.id}) }}"
                class="reference-block">
                    <div class="bubble-reference in-study">
                            <img id="references-images" src="{{ asset('uploads/images/' ~ reference.mainPhoto) }}"/>
                            {% for images in reference %}
                                <p>{{ images.name }}</p>
                            {% endfor %}
                    </div>
                    <p class="handwriting-project handwriting-in-study">{{ reference.workInProgress }}</p>
                    <h3>{{ reference.name }}</h3>
                </a>
            {% endif %}
            {% if reference.workInProgress == 'En travaux' %}
                <a href="{{ path('reference_show', {id: reference.id}) }}"
                class="reference-block">
                    <div class="bubble-reference in-work">
                            {# <img id="references-images" src="{{ asset('uploads/images/' ~ image ) }}"/> #}
                    </div>
                    <p class="handwriting-project handwriting-in-work">{{ reference.workInProgress }}</p>
                    <h3>{{ reference.name }}</h3>
                </a>
            {% endif %}
            {% if reference.workInProgress == 'Livré' %}
                <a href="{{ path('reference_show', {id: reference.id}) }}"
                class="reference-block">
                    <div class="bubble-reference finished">
                            {# <img id="references-images" src="{{ asset('uploads/images/' ~ image ) }}"/> #}
                    </div>
                    <p class="handwriting-project handwriting-finished">{{ reference.workInProgress }}</p>
                    <h3>{{ reference.name }}</h3>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}