{% extends 'base.html.twig' %}

{% block title %}Références{% endblock %}

{% block pageContainer %}
    <div class="reference-page">
        {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong>Retour au panneau de configuration</a>
        {% endif %}
        <h1>Nos réferences</h1>
        <div class="references-list">
            {% for reference in references %}
                {% if reference.workInProgress == 'En études' %}
                    <div class="reference-block">
                        <p class="handwriting-project handwriting-in-study">{{ reference.workInProgress }}</p>
                        <h3>{{ reference.name }}</h3>
                        <a href="{{ path('reference_show', {id: reference.id}) }}" class="bubble-reference in-study">
                            <img id="references-images" src="{{ asset('uploads/images/' ~ reference.mainPhoto) }}"/>
                        </a>
                    </div>
                {% endif %}
                {% if reference.workInProgress == 'En travaux' %}
                    <div class="reference-block">
                        <p class="handwriting-project handwriting-in-work">{{ reference.workInProgress }}</p>
                        <h3>{{ reference.name }}</h3>
                        <a href="{{ path('reference_show', {id: reference.id}) }}" class="bubble-reference in-work">
                            <img id="references-images" src="{{ asset('uploads/images/' ~ reference.mainPhoto) }}"/>
                        </a>
                    </div>
                {% endif %}
                {% if reference.workInProgress == 'Livré' %}
                    <div class="reference-block">
                        <p class="handwriting-project handwriting-finished">{{ reference.workInProgress }}</p>
                        <h3>{{ reference.name }}</h3>
                        <a href="{{ path('reference_show', {id: reference.id}) }}" class="bubble-reference finished">
                            <img id="references-images" src="{{ asset('uploads/images/' ~ reference.mainPhoto) }}"/>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}