{% extends 'base.html.twig' %}

{% block title %}Références{% endblock %}

{% block pageContainer %}
    <div class="reference-show-block">
            {% if is_granted('ROLE_ADMIN') %}
                    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
            {% endif %}
        <div class="reference-show-image">
            <img src="{{ asset('uploads/images/' ~ reference.getMainPhoto) }}" alt="{{ reference.name }}">
        </div>
        <div class="reference-show-description">
            <h1>{{ reference.name }}</h1>
            <p><strong>Lieu : </strong>{{ reference.place }}</p>
            <p><strong>Maître d'ouvrage : </strong>{{ reference.client }}</p>
            <p><strong>Mission Ingescop : </strong>{{ reference.missionIngescop }}</p>
            <p><strong>Budget : </strong>{{ reference.budget }}</p>
            <p><strong>Calendrier : </strong> {{ reference.calendar }}</p>
            <p><strong>Points forts du projet : </strong></p>
            <p>{{ reference.strongPoints }}<p>
            {% if reference.owner != null %}
                <p><strong>Professionnels ayant participés au projet : </strong><br>
                    {% for professionnal in reference.owner %}
                    <a id="reference-professionnal-links" href="{{ path('professionnal_show', {id: professionnal.id}) }}">{{ professionnal.name }}</a><br>
                {% endfor %}
                </p>
            {% endif %}
            <p><strong>En bref</strong><br>{{ reference.resume }}</p>
            <div class="bottom-pics">
                {% if images != null %}
                    {% for image in images %}
                        <a href="{{ asset('uploads/images/' ~ image) }}" target="_blank">
                            <img src="{{ asset('uploads/images/' ~ image) }}" alt="{{ image }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}