{% extends 'base.html.twig' %}

{% block title %}Éditer un professionnel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('proForm') }}
{% endblock %}

{% block pageContainer %}
    <h1 class="font-semibold">Éditer ce professionnel</h1>

    {{ include('admin/professionnal/_form-professionnal.html.twig') }}
    <div  class="edit-pro-description">
        <h3 class="font-semibold">Photo de profil</h3>
        <div class="edit-pro-image">
            <img src="{{ asset('/uploads/images/' ~ pro.profilPhoto) }}" alt="{{ pro.profilPhoto }}" width="150px">
        </div>
    </div>
    {{ include('admin/professionnal/_delete.html.twig') }}
    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
{% endblock %}
