<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}1gscop{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
					<img class="header--logo" src="{{ asset('build/images/Logo_1gscop.png') }}"/>
				<nav>
					<ul>
						{# HOME PAGE #}
						{% if app.request.attributes.get('_route') == 'home' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# WHO ARE WE PAGE #}
						{% if app.request.attributes.get('_route') == 'presentation' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# PROFESSIONNAL LIST PAGE #}
						{% if app.request.attributes.get('_route') == 'professionnal_list' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# PROFESSIONNAL SHOW PAGE #}
						{% if app.request.attributes.get('_route') == 'professionnal_show' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# SERVICE LIST PAGE #}
						{% if app.request.attributes.get('_route') == 'services_list' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# SERVICE SHOW PAGE #}
						{% if app.request.attributes.get('_route') == 'services_show' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# CONTACT PRO PAGE #}
						{% if app.request.attributes.get('_route') == 'contactpro' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# CONTACT US PAGE #}
						{% if app.request.attributes.get('_route') == 'contactus' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# REFERENCE LIST PAGE #}
						{% if app.request.attributes.get('_route') == 'reference_list' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
						{# REFERENCE SHOW PAGE #}
						{% if app.request.attributes.get('_route') == 'reference_show' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
							<li><a href="{{ path('services_list') }}">Services</li></a>
							<li><a href="{{ path('reference_list') }}">Références</li></a>
						{% endif %}
					</ul>
				</nav>
				<div class="header--form-links">
					<p><a href="{{ path('contactpro') }}">Nous rejoindre</a></p>
					<p><a href="{{ path('contactus') }}">Nous contacter</a></p>
				</div>
			</header>
		{% endblock %}

		{% block pageContainer %}{% endblock %}
		{% block flashMessage %}{% endblock %}
		{% block footer %}
			<footer>
				<div class="footer-left">
					<p>Adresse</p>
				</div>
				{% if app.request.attributes.get('_route') == 'home' %}
					<div class="footer-right">
					<p>partenaire</p>
					<p>partenaire</p>
					<p>partenaire</p>
				</div>
				{% endif %}
			</footer>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
