<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}1gscop{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<div class="header--logo" >
					<img class="logo" src="{{ asset('build/images/Logo_1gscop.png') }}"/>
				</div>
				{% block Admin %}{% endblock %}
				{% if app.user %}
    				<a id="logout-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
				{% endif %}
				<div class="responsive-menu">
					<nav>
						<ul id="home-links">
							{# HOME PAGE #}
							{% if app.request.attributes.get('_route') == 'home' %}
								<li><a class="custom" href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
							{% endif %}
							{# WHO ARE WE PAGE #}
							{% if app.request.attributes.get('_route') == 'presentation' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a class="custom" href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# PROFESSIONNAL LIST PAGE #}
							{% if app.request.attributes.get('_route') == 'professionnal_list' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a class="custom" href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# PROFESSIONNAL SHOW PAGE #}
							{% if app.request.attributes.get('_route') == 'professionnal_show' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# SERVICE LIST PAGE #}
							{% if app.request.attributes.get('_route') == 'services_list' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a class="custom" href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# SERVICE SHOW PAGE #}
							{% if app.request.attributes.get('_route') == 'services_show' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# REFERENCE LIST PAGE #}
							{% if app.request.attributes.get('_route') == 'reference_list' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a class="custom" href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# REFERENCE SHOW PAGE #}
							{% if app.request.attributes.get('_route') == 'reference_show' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# CONTACT PRO PAGE #}
							{% if app.request.attributes.get('_route') == 'contactpro' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# CONTACT US PAGE #}
							{% if app.request.attributes.get('_route') == 'contactus' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
							{# ADMIN PAGE #}
							{% if app.request.attributes.get('_route') == 'app_login' %}
								<li><a href="{{ path('home') }}">Accueil</a></li>
								<li><a href="{{ path('professionnal_list') }}">Professionnels</a></li>
								<li><a href="{{ path('services_list') }}">Services</li></a>
								<li><a href="{{ path('reference_list') }}">Références</li></a>
								<li><a href="{{ path('presentation') }}">À propos</li></a>
							{% endif %}
						</ul>
					</nav>
					<div class="header--form-links">
						<p><a href="{{ path('contactpro') }}">Nous rejoindre</a></p>
						<p><a href="{{ path('contactus') }}">Nous contacter</a></p>
					</div>
				</div>
				<div class="burger-icon">
					<div class="burger-row line1"></div>
					<div class="burger-row line2"></div>
					<div class="burger-row line3"></div>
				</div>
			</header>
		{% endblock %}

		{% block pageContainer %}{% endblock %}
		{% block flashMessage %}{% endblock %}
		{% block footer %}
			<footer>
				{% if app.request.attributes.get('_route') == 'home' %}
					<div class="footer-home">
						<div id="footer-left">
							<p><a href="mailto:contact@1gscop.fr">contact@1gscop.fr</a></p><p>30 rue André Theuriet 37000 Tours</p><p>06 58 39 21 46</p>
						</div>
						<div id="footer-right">
							<p>Partenaire de</p>
							<a href="https://www.nova-bat.coop/" target="blank"><img class="footer-logo-partenaire" src="{{ asset('build/images/Logo_novabat.png') }}"/></a>
						</div>
					</div>
				{% else %}
					<div class='footer-others'>
						<p><a href="mailto:contact@1gscop.fr">contact@1gscop.fr</a></p>
						<p>30 rue André Theuriet<br>37000 Tours</p>
						<p>06 58 39 21 46</p>
					</div>
				{% endif %}
			</footer>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
