<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Projet 3 Name{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<div class="header--logo">Ingé Scop logo</div>
				<nav>
					<ul>
						<li><a href="{{ path("home") }}">Accueil</a></li>
						<li><a href="{{ path("professionnal_list") }}">Maître d'oeuvre</a></li>
						<li><a href="{{ path("client_list") }}">Maître d'ouvrage</a></li>
						<li><a href="{{ path("home") }}">Références</a></li>
					</ul>
				</nav>
				<div class="header--form-links">
					<p>Nous rejoindre</p>
					<p>Services</p>
				</div>
			</header>
		{% endblock %}

		{% block pageContainer %}{% endblock %}
		{% block footer %}
			<footer>
				<div class="footer-left">
					<p>Adresse</p>
				</div>
				<div class="footer-right">
					<p>partenaire</p>
					<p>partenaire</p>
					<p>partenaire</p>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
