<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}1gscop{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<div class="header--logo">Ingé Scop logo</div>
				<nav>
					<ul>
						{% if app.request.attributes.get('_route') == 'home' %}
							<li><a href="{{ path("reference") }}">Références</a></li>
						{% endif %}
						{% if app.request.attributes.get('_route') == 'presentation' %}
							<li><a href="{{ path("home") }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnel</a></li>
							<li><a href="{{ path('client_list') }}">Client</a></li>
						{% endif %}
						{% if app.request.attributes.get('_route') == 'professionnal_list' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('client_list') }}">Client</li></a>
							<li><a href="{{ path('reference') }}">Références</li></a>
						{% endif %}
						{% if app.request.attributes.get('_route') == 'client_list' %}
							<li><a href="{{ path('home') }}">Accueil</a></li>
							<li><a href="{{ path('professionnal_list') }}">Professionnel</a></li>
							<li><a href="{{ path('reference') }}">Références</li></a>
						{% endif %}
					</ul>
				</nav>
				<div class="header--form-links">
					<p>Nous rejoindre</p>
					<p><a href="{{ path('contact') }}">Nous contacter</a></p>
				</div>
			</header>
		{% endblock %}

		{% block pageContainer %}{% endblock %}
		{% block footer %}
			<footer>
				<div class="footer-left">
					<p>Adresse</p>
				</div>
				{% if app.request.attributes.get('_route') == 'home' %}
					<div class="footer-right">
					<p>partenaire</p>
					<p>partenaire</p>
					<p>partenaire</p>
				</div>
				{% endif %}
			</footer>
		{% endblock %}
	</body>
</html>
