{% extends "base.html.twig" %}

{% block title %} Modification Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('serviceForm') }}
{% endblock %}

{% block pageContainer %}
    <h1 class="font-semibold">Éditer ce service</h1>

    {{ include("admin/service/_form-service.html.twig", {'button_label': 'Mettre à jour'}) }}
    <div  class="flex flex-col text-center space-y-6 items-center justify-center">
        <h3 class="font-semibold text-gray-700">Image Actuelle</h3>
            <img src="{{ asset('/uploads/images/' ~ service.image) }}" alt="{{ service.image }}" width="150px">
        {{ include("admin/service/_delete.html.twig") }}
    </div>
    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
{% endblock %}