<div id="tailwind_height" class="xs:pl-40 flex justify-center items-center border-2">
    <div class="bg-gray-200 service-form service-form-block">
        {{ form_start(formService) }}
                <div class="service-form-group">
                    <label for="">Nom</label>
                    {{ form_widget(formService.name) }}
                </div>
                <div class="service-form-group">
                    <label for="">Catégorie</label>
                    {{ form_widget(formService.category) }}
                </div>
                <div class="service-form-group">
                    <label for="">Professionnel(s)</label>
                    {{ form_widget(formService.professionnal) }}
                </div>
                <div class="service-form-group">
                    <label for="">Image</label>
                    {{ form_widget(formService.image) }}
                </div>
                <div class="service-form-group">
                    <label for="">Description</label>
                    {{ form_widget(formService.description) }}
                </div>
                <input type ="submit" value="Valider" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white text-4xl font-bold py-6 px-6 rounded-full focus:outline-none focus:shadow-outline">
        {{ form_end(formService) }}
    </div>
</div>