{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pro') }}
{% endblock %}

{% block pageContainer %}

    {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {% endif %}
    <div class="professionnal-list-page">

        <h1>Nos professionnels</h1>
        <div class="professionnals-list">
            {% for professionnal in professionnels %}
                <div class="pro-block">
                    <p>{{ professionnal.name }}</p>
                    <p>{{ professionnal.job }}</p>
                    <a href="{{ path('professionnal_show', {id: professionnal.id}) }}" class="bubble-pro">
                        <img id="references-images" src="{{ asset('uploads/images/' ~ professionnal.ProfilPhoto) }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}