{% extends 'base.html.twig' %}

{% block pageContainer %}
    {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong><=</strong> Retour au panneau de configuration</a>
    {% endif %}
    <div class="professionnal-show-page">
        <div class="profil-title-image">
            <h1>{{ pro.name }}</h1>
            <div class="image">
                <img id="references-images" src="{{ asset('uploads/images/' ~ pro.profilPhoto) }}"/>
            </div>
        </div>
        <div class="profil-description">
            <h2>Métier : {{ pro.job }}</h2>
            <p>Description</p>
            <p>
                {{ pro.resume }}
            </p>
        </div>
    </div>

{% endblock %}