{% extends 'base.html.twig' %}

{% block title %}Ajouter un partenaire{% endblock %}

{% block pageContainer %}
    <h1>Ajouter un partenaire</h1>

    {{ include('admin/partner/_form-partner.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div  class="flex flex-col text-center space-y-6 items-center justify-center">
        <h3>Logo</h3>
        <img src="{{ asset('/uploads/images/' ~ partner.logo) }}" alt="{{ partner.logo }}" width="150px">
    </div>
    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {{ include('admin/partner/_delete.html.twig') }}
{% endblock %}
