{% extends 'base.html.twig' %}

{% block title %}Ajouter ce partenaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('partnerForm') }}
{% endblock %}

{% block pageContainer %}
    <h1 class="font-semibold">Éditer un partenaire</h1>

    {{ include('admin/partner/_form-partner.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div  class="edit-partner-description">
        <h3 class="font-semibold">Logo</h3>
        <div class="edit-partner-image">
            <img src="{{ asset('/uploads/images/' ~ partner.logo) }}" alt="{{ partner.logo }}" width="150px">
        </div>
    </div>
    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {{ include('admin/partner/_delete.html.twig') }}
{% endblock %}
